:root {
--percent: 0;
}


body {
    background: #3e3e3e;
    color: white;

    padding: 50px 100px;
    font-size: 13px;
    font-style: Verdana, Tahoma, sans-serif
}

* {
    box-sizing: border-box;
}

.form {
    margin:1rem auto;
    font-family:sans-serif;
    max-width:40rem;
}
.form .form-row {
    margin-bottom:2rem;
}
.form .form-row:last-child {
    margin-bottom: 0;
}
.form input[type=text],
.form input[type=email],
.form textarea,
.form .checkbox-cnt .state {
    box-shadow:inset 0 1px 5px rgba(0,0,0,0.07);
}
.form input[type=text],
.form input[type=email],
.form textarea {
    border-radius:0.2rem;
    font-family:sans-serif;
    padding:0.8rem;
    border:1px solid #aaa;
    display: block;
    width:100%;
    color:#666;
}
.form input[type=text]:focus,
.form input[type=email]:focus,
.form textarea:focus {
    border-color:#9DC9F5;
    box-shadow:inset 0 0 0 1px #9DC9F5, inset 0 1px 5px rgba(0,0,0,0.07);
    outline:none;
}
.form textarea {
    height:10rem;
}
.form label {
    font-weight:bold;
    display: block;
    font-size:0.9rem;
    margin-bottom:0.5rem;
}
.form .submit-btn {
    font-family: sans-serif;
    padding:1rem 2rem;
    background: #474E69;
    border:0;
    border-radius:0.2rem;
    color:#FFF;
    font-size:1.1rem;
    font-weight: bold;
    transition: 0.3s background-color;
}

/* checkbox */
.form .submit-btn:hover {
    background: green;
}
/* walidacja */
.form input[type=text].error,
.form input[type=email].error,
.form textarea.error,
.form .checkbox-cnt input.error ~ .state {
    border-color:##E01546;
}
.field-error {
    color:##E01546;
    padding:0.5rem 0;
    font-size:0.8rem;
}

@media screen and (max-width:500px) {
    .form .submit-btn {
        display: block;
        width: 100%;
    }
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ol > li > ul {
list-style-type: none;
padding: 0;
margin: 0;
height: 40px;
display: none;
}
ol > li:hover > ul {
display: block;
}

ol > li > ul > li {
background-color:#f6969;
position: relative;
z-index: 100;
}


.card {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #ffffff;
margin: 0 20px;
width: 280px;
height: 350px;
border-radius: 5px;
box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
}

.card svg {
position: relative;
width: 210px;
height: 210px;
transform: rotate(-90deg)
}

.card .percent {
position: relative;
}

.card svg circle {
width: 100%;
height: 100%;
fill: none;
stroke: #f0f0f0;
stroke-width: 10;
stroke-linecap: round;
}

.card svg circle:last-of-type {
stroke-dasharray: 625px;
stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
stroke: #3498db;
}

.card .number {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.card .number h3 {
font-weight: 200;
font-size: 3.5rem;
}

.card .number h3 span {
font-size: 2rem;
}


.card .title {
position: absolute;
top:40%;
left: 50%;
transform: translate(-50%, -50%);
}

.card .title h2 {
margin: 25px 0 0;
}

.indexCard {
display: flex;
align-items: center;
justify-content: center;
}