<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style/main.css" th:href="@{style/main.css}" type="text/css" media="all"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Work Time Records</title>
</head>
<body class="indexCard">

<div class="card">
    <div class="percent">
        <svg>
            <circle cx="105" cy="105" r="100"></circle>
            <circle id="circlePercent" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" cx="105" cy="105" r="100"
                    style="--percent"></circle>
        </svg>
        <div class="number">
            <h2><span id="span">0</span>%</h2>
        </div>
    </div>
    <div class="title">
        <h3>WTR</h3>
    </div>
</div>

<script>
var i = 0;
window.onload = function move() {
  if (i == 0) {
    i = 1;
    actualPercent = 0;
    var span = document.getElementById("span");
    var circlePercent = document.getElementById("circlePercent");
    span.addEventListener("change", updateValue);
    circlePercent.addEventListener("change", updateValue);

    var id = setInterval(updateValue, 50);

    function updateValue() {
      if (actualPercent >= 100) {
        clearInterval(id);
        i = 0;
        location.href = "/card/getEmployeeCard/{userId}";
      }
      else {
        actualPercent++;
        span.textContent = actualPercent;
        console.log(span.textContent);
        circlePercent.textContent = actualPercent;

        document.documentElement.style.setProperty("--percent", actualPercent);
        document.documentElement.style.setProperty("span", this.value)
      }
    }
  }
}
</script>
</body>
</html>