<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact form</title>
    <link rel="stylesheet" href="../static/style/main.css" th:href="@{style/main.css}" type="text/css" media="all"/>
</head>
<body>

<form class="form" id="contactForm" method="post" action="/sendMail">
    <div class="form-row">
        <label for="subject">Name*</label>
        <input type="text" name="subject" id="subject" placeholder="John Doe" minlength="5" required/>
    </div>
<!--    <div class="form-row">-->
<!--        <label for="mailTo">Email*</label>-->
<!--        <input type="email" name="mailTo" required id="mailTo" placeholder="mail@example.com" data-error="Wpisz poprawny email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+">-->
<!--    </div>-->
    <div class="form-row">
        <label for="message">Message*</label>
        <textarea name="message"  placeholder="Write something to us" minlength="15" id="message" required></textarea>
    </div>
    <div class="form-row">
        <button type="submit" class="submit-btn">Wyślij</button>
    </div>
</form>
</body>
</html>