<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Work Time Records</title>
    <!--    <link rel="stylesheet" href="../static/style/main.css" th:href="@{style/main.css}" type="text/css" media="all"/>-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--                crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style>
    body {
        background: #3e3e3e;
        color: white;
    }



    </style>
</head>
<body>
<div class="row ml-2 mr-2 mt-2">
    <div class="col col-12">
        <div th:if="${loginExist == true}" class="alert alert-danger" role="alert">
            <strong>
                <center>Login already exists.</center>
            </strong>
        </div>
    </div>
</div>
<div class="row ml-2 mr-2 mt-2">
    <div class="col col-12">
        <div th:if="${created == true}" class="alert alert-success" role="alert">
            <strong>
                <center>You have created a user</center>
            </strong>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/card/getEmployeeCard/{userId}">Admin Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--                        <li class="nav-item active">-->
            <!--                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
            <!--                        </li>-->
            <!--                        <li class="nav-item">-->
            <!--                            <a class="nav-link" href="#">Link</a>-->
            <!--                        </li>-->
            <!--                        <li class="nav-item">-->
            <!--                            <a class="nav-link disabled" href="#">Disabled</a>-->
            <!--                        </li>-->
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/card/searching/{userId}" method="get">
            <a href="/card/getEmployeeCard/{userId}" class="btn btn-dark my-2 my-sm-0 ml-2 mr-2" type="submit">
                Back</a>
        </form>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-md-center">
        <form action="/register" method="post">
            <div class="form-group">
                <div class="row justify-content-md-center">
                    Wypełnij formularz
                </div>
                <input name="firstName"  type="text" autocomplete="off" class="form-control login"
                       placeholder="Imię" required minlength="3"/>
            </div>
            <div class="form-group">
                <input name="lastName" type="text" autocomplete="off" class="form-control login"
                       placeholder="Nazwisko" required
                       minlength="5"/>
            </div>
            <div class="form-group">
                <select name="role" class="custom-select">
                    <option value="ROLE_USER">ROLE_USER</option>
                    <option value="ROLE_PLANNER">ROLE_PLANNER</option>
                </select>
            </div>
            <div class="form-group mt-3">
                <input name="login" type="text" autocomplete="off" class="form-control login"
                       placeholder="Login" required minlength="5"/>
            </div>
            <div class="form-group">
                <input name="password" type="password" autocomplete="off" class="form-control login"
                       placeholder="Hasło" required minlength="5"/>
            </div>
            <div class="row justify-content-md-center">
                <input class="btn btn-primary" type="submit" value="Zarejestruj się"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>