<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Work Time Records</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
        $('#allUsers').DataTable();
        } );
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="ml-2 mr-2 mt-2">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/card/getEmployeeCard/{userId}">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--                        <li class="nav-item active">-->
                <!--                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
                <!--                        </li>-->
                <!--                        <li class="nav-item">-->
                <!--                            <a class="nav-link" href="#">Link</a>-->
                <!--                        </li>-->
                <!--                        <li class="nav-item">-->
                <!--                            <a class="nav-link disabled" href="#">Disabled</a>-->
                <!--                        </li>-->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a href="/getUsers" class="btn btn-dark my-2 my-sm-0 ml-2 mr-2"
                   type="submit">
                    View all users</a>
                <div class="dropdown mr-2">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" href="/register">Register</a>
                        <a class="dropdown-item" href="/getUsers/delete">Delete</a>
                        <a class="dropdown-item" href="/changePassword/{userId}">Change password</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
                <a href="/card/createPosition" class="btn btn-dark my-2 my-sm-0 ml-2" type="submit">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add a job
                </a>
            </form>
        </div>
    </nav>


    <style>
                table {
                    border-collapse: collapse;
                    width: 100%;
                }

                th, td {
                    text-align: center;
                    padding: 8px;
                }

                tr:nth-child(even) {
                    background-color: #f2f2f2
                }

                th {
                    background-color: #4CAF50;
                    color: white;
                }
    </style>
    <form>
        <div class="ml-2 mr-2 mt-2">
            <h4 th:text="${username}"></h4>
        </div>
        <table id="allUsers">
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Active</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${allUsers}">
                <td th:text="${user.getId()}" align="center"></td>
                <td th:text="${user.getFirstName()}" align="center"></td>
                <td th:text="${user.getLastName()}" align="center"></td>
                <td th:text="${user.getActive()}" align="center"></td>
                <td th:text="${user.getRole()}" align="center"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>
